/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {

    .content .fields .txt_nme1, 
    .content .fields .txt_nme2, 
    .content .fields .txt_nme3, 
    .content .fields .txt_nme4, 
    .content .fields .txt_nme5, 
    .content .fields .txt_nme6{
       width:15%;
    }

    .confirm_main_section .content{
        padding-left:0px !important;
        padding-right:0px !important;
        padding-top:100px !important;
    }

    .confirm_main_section .content h4{
        padding:0 15% 0 15% !important
    }
     
    .confirm_main_section .content p{
        padding:0 15% 0 15% !important;
    }

    .content .fields{
       margin-top:20px;
       margin-bottom:25px;
       padding:0 15% 0 15% !important;
    }

    .account-section .acc_1{
        padding:250px 40px 250px 40px;
    }

    .account-section .acc_2{
        padding:200px 40px 250px 40px;
    }

    .account-section .acc_2 img{
        width:100%;
    }

}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mail-section .col-parz{
        margin-top:20px !important
    }

    .terms-section .col-md-4{
        float:left !important;
    }

    .terms-section .col-md-8{
        float:left !important;
        width:40% !important;
        margin-left:65px !important;
    }

    .terms-section .term-left_1 ul{
        margin-left:0 !important;
        padding-right:30px;
    }

    .terms-section .term-left_1 h5{
        margin-left:40px !important;
    }

}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
    .terms-section .term-left_1 ul{
        margin-left:0 !important;
    }

    .terms-section .term-left_1 h5{
        margin-left:40px !important;
    }
}

/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mail-section .col-parz{
        margin-top:20px !important
    }

    .confirm_main_section .content{
        padding-top:100px !important;
    }

}

/* Mobile Portrait Size */
@media only screen and (max-width: 479px){
    .mail-section .col-parz{
        margin-top:20px !important
    }
    .account-section .acc_1{
        padding:200px 40px 100px 40px !important;
    }

    .account-section .acc_2{
        padding:200px 40px 150px 40px !important;
    }

    .account-section .acc_2 img{
        width:100%;
    }

    .terms-section .top_1{
        padding:0 !important;
    }

    /*.set_2 .tab-content .cont_tab p,
    .set_2 .tab-content .cont_tab2 p,
    .set_2 .tab-content .cont_tab3 p,
    .set_2 .tab-content .cont_tab4 p,
    .set_2 .tab-content .cont_tab5 p{
        width:100% !important;
    }*/

    /*.set_2 .tab-content .cont_tab button,
    .set_2 .tab-content .cont_tab2 button,
    .set_2 .tab-content .cont_tab3 button,
    .set_2 .tab-content .cont_tab4 button,
    .set_2 .tab-content .cont_tab5 button{
        float:none !important;
    }*/

}
    
@media (max-width: 320px) {
	
}