.content-section-a {
    width: 100%;
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 4rem;
}


.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .vid-background{
      background-color: #f5f5f5;
  }